/*project styling end here*/
.contact_me{
    background-color: black;
    color:white;
    margin-bottom: 20px;
    
    text-align: center;
  }
  .contactLogs{
    display:grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(1,100px);
    justify-content: center;
    align-items: center;
    grid-gap:100px;
    padding: 20px;
  }
  .map_form{
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: repeat(1,400px);
    justify-content: center;
    background-color: black;
    
  }
  .map{
    background-color: burlywood;
    width: 500px;
  }
  .form{
   background-color: white;
   width: 600px;
  }
  .fas{
    color:#f0b236;
    font-size: 50px;
  }
  input{
    width:300px;
    padding: 15px;
    margin-top: 15px;
  }
  textarea{
    margin-top: 15px;
  }
  .submit{
    margin: 15px;
    background-color: #f0b236;
    color:black;
  border:1px solid #f0b236;
    width:150px;
    height: 40px;
    border-radius: 5%;
    outline: none;
    cursor:pointer;
  }