/*Styling header menu*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.8rem;
}
body{
  margin:0;
   /* background-color: #333;*/
}

.navbar-container{
  width: 100vw;
  height:100vh;

 background-image: url(./components/images/gray.jpg);
 background-position: center;
 background-size: cover;
 opacity: 0.9;
 
  
  
}
.navbar-container img{
  width:100%;
  
 
 
 }

.topContainer{
  width: 100vw;
  height:100vh;
 

 object-fit: cover;
 
}
.navContainer{
  width: 100vw;
  height:10vh;
  background-color:#202020;
}
.header{
  opacity: 1;
  width: 100vw;
  height:10vh;
  display: flex;
  align-items: center;
  background-color: #202020;
  color:white;
  position: fixed;
  z-index: 1;
}
.nameTag{
  flex:1;
  color:red;
}
nav{
  flex:2;
  color: red;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:#818181
}

.Navbar-ul{
  display:flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-weight: bold;
  
  
}
.nameTag{
  font-size: 1.5rem;
  margin-left: 5rem;
  text-transform: uppercase;
  color:white
}
.Navbar-li{
  
  text-transform: uppercase;

  color:white;
}
Link{
  text-decoration: none;
}
.centerItems{
  width:100vw;
  height:100vh;
  margin: auto;
  
  background-color: #202020;
  opacity: 0.8;

}
.topItems{
  
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  color:#febc39;
}
.topItems h5{
  margin-right: 30px;
  
}
.itemContainer{
  font-family: 'Courgette';
  padding-top: 5rem;
  width:80%;
  color:white;
  margin: auto;

  text-align: center;
 
}

.welcome{
  font-family: 'Courgette';
  margin-bottom:1em;
  color:#febc39;
}
.firstname{
  font-family: 'Courgette';
  margin-bottom: 0.7em;
  font-size: 3rem;
}
.itemContainer p{
  font-size:1.5rem;
  margin-bottom: 2rem;
}
.frontend{
  color:#febc39 ;
}
.btnCV{
  all:unset;
  background-color: #febc39;
  padding:8px 15px;
  margin-right: 1rem;
   border-radius: 5px;
   font-weight: 700;
   color:black;
}
.btnCV:hover{
  background-color:black;
  cursor: pointer;
  border: 1px solid white;
  color:white;

}
.hire{
  all:unset;
  background-color: black;
  padding:8px 35px;
  margin-right: 1rem;
  color:white;
  border-radius: 5px;
  font-weight: 700;
  border: 1px solid white;
  
}
.hire:hover{
  background-color:#febc39;
  cursor: pointer;
  border: 1px solid white;
  color:black;
}
.topItems i{
  display: flex;
  font-size: 18px;
  margin-right: 10px;
}
.image{
  width:8rem;
  height: auto;
  text-align: center;
  padding-top: 2.5rem;
  margin: auto;

}
.image img{
  border-radius: 50%;
  
}
.itemWrapper{
  padding-top: 2rem;
}
/***********************HORIZONTAL LINE**************/
.horizontal-line{
  
  margin: 0 auto;
}
.top{
  margin-top:10px;
  width:3rem;
  height: 0.1rem;
  background-color: #818181;
  border-top: black;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.bottom{
 
  width:5rem;
  height: 0.1rem;
  background-color: #818181;
  border-top: black;
  margin: 0 auto;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width:1900px){
    html{
        font-size: 20px;
    }
    .navContainer{
      height:6vh;
    }
   
    .resumeWrapper{
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2,1000px);
      grid-gap: 10px;
      
      justify-content: center;
      
      padding-bottom: 10rem;
  }
        
  .innerCard{
      
      height: 400px;
      padding:2rem;
      margin:auto;
      background-color: 
      #2b2b2b;
      border-radius: 5px;
  }
   
    
}
/*****************************************ABOUT US************/
.aboutContainer{
  width: 100vw;
  height:30rem;
  background-color: #333;
  border: 1px solid #333;
  
}
.about-content{
  margin-top: 2rem;
}
.aboutContainer .mainHeading{
  margin-top: 3rem;
}
.about-skills{
  display: flex;
  
  
}
.web{
  color:white;
}
.aboutWrapper{
    width:100vw;
    
    
    flex:1;
}


.about-content{
    padding:10px 20px 10px 20px;
    
    
    
}
.mainHeading{

color:white;
padding-top: 3rem;
}
.content{
    color:white;   
}
.social-links{
  padding: 10px;

}
.social-links a{
  color:#ffbd39;
}
.social-links i{
  padding: 10px;
}
/*********************MY SKILLS***********************/
.myskills{
  color:white;
 
  margin-top: 26px;
  flex:1;
}
.skill-container{
  width:400px;
  
 margin: auto;
}
.myskills li{
  list-style-type: none;
}

.bar{
  background-color: #2b2b2b;
  display: block;
  height:8px;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 5px;
 

}
.bar span{
  height: 8px;
  float: left;
  background-color: white;

}
.html{
  width:90%;
  animation: html 2s;
}
.css3{
  width:65%;
  animation: css3 2s;
}
.javascript{
  width:90%;
  animation: javascript 2s;
}

.react{
  width:65%;
  animation:react 2s;
}
@keyframes html{
0%{
  width:0%;
}
100%{
  width: 90%;
}
}
@keyframes css3{
  0%{
    width:0%;
  }
  100%{
    width: 65%;
  }
  }
  @keyframes javascript{
    0%{
      width:0%;
    }
    100%{
      width: 90%;
    }
    }
    @keyframes react{
      0%{
        width:0%;
      }
      100%{
        width:65%;
      }
      }

/****************************RESUME**********************/
.Resume{
    width: 100vw;
    
    background-color: #202020;
    border: 1px solid #202020;
   
}

.resume-content{
    width:50vw;
    color:white;
    margin: auto;
    text-align: center;
    
}
.resumeCard{
  margin-top: 3rem;
    color:black;
   
}
.resumeWrapper{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-gap: 10px;
    
    justify-content: center;
    
    padding-bottom: 10rem;
}
      
.innerCard{
    
    height: 300px;
    padding:2rem;
    margin:auto;
    background-color: 
    #2b2b2b;
    border-radius: 5px;
}
.download{
    margin:3rem;
    padding: 0.7em 1.5em;
    font-size: 15px;
    color:black;
    border:1px solid #f0b236;
    box-sizing: border-box;
    background-color: #f0b236;
    border-radius: 0.5em;
  }
  .download-cv{
    
    padding: 0.7em 1.5em;
    font-size: 15px;
    color:black;
    border:1px solid #f0b236;
    box-sizing: border-box;
    background-color: #f0b236;
    border-radius: 0.5em;
  }
.downloadBtn{
  text-align:center;
}
.resumeHeader{
    color: white;
  }
  .subtitle{
    color:#818181;
  }
  .Paragraph{
    color:#818181;
    font-size: 18px;
  }
  .year{
    font-size:20px ;
    font-weight: 900;
    color:#ffbd39;
    padding-bottom: 10px;
  }
  /*End of Resume Styling*/
  
  
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .resume-links{
    color:white;
    font-size: 16px;

    
   
  }
  .resume-para{
    color:white;
  }
  /***************PROJECTS***************************/
  .projects{
    width: 100vw;
    height: auto;
    background-color: #333;
      text-align: center;
      border:0.1px solid #333;
      z-index: 0;
      
  }
  /*
  .ProjectWrapper{
      display:flex;
      justify-content: center;
      
      
  }
  .ProjectWrapper img{
      width:400px;
      height:300px;
      margin-left: 10px;
  }
  .cardProject{
   
    height:400px;
    margin-left: 5px;
      color:#818181;
      position: relative;
  }
  .cardProject:hover img{
    opacity: 0.3;
  }
  
  .cardProject:hover .project-text{
    opacity: 1;
  }
 
  .project-text{
      background-color: #1a1a1a;
      transition: .5s ease;
      width: 200px;
      padding: 1rem 1.5rem;
      opacity: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    
  }
  .project-text h4{
    color:#f0b236;
  }
 
.projects p{
  color:#818181;
}
.cardProject h4{
  color:white;
}
.project-container{
  width: 90vw;
  
  margin: auto;
  height: 800px;

}*/
.imgWrapper{
  display: flex;
flex-wrap: wrap;
 justify-content: center;
 margin: auto;
 margin-bottom: 80px;
 z-index: 0;

}

.first{
  width: 500px;
  height: 400px;
   background-color: #202020;
   position: relative;
   z-index: 0;
   
}
img{
  max-width: 100%;
  max-height: 100%;
  z-index: 0;
}
.second{
  width: 500px;
  height: 400px;
  position: relative;
  background-color: #202020;
 
   margin-left: 15px;
   z-index: 0;
}
.third{
  width: 500px;
  height: 400px;
  position: relative;
  background-color: #202020;
   margin-top: 50px;
   z-index: 0;
}
.fourth{
  width: 500px;
  height: 400px;
   background-color: #202020;
   position: relative;
   margin-left: 15px;
   margin-top: 50px;
   z-index: 0;
}

.first:hover{
  opacity: 0.4;

}
.second:hover{
  opacity: 0.4;
}
.third:hover{
  opacity: 0.4;
}
.fourth:hover{
  opacity: 0.4;
}
.projectHeading{
  color:#ffbd39;
 
  
}
.ProjectWrapper{
 
 
 

  
  
}

ul >.cards img:nth-child(1) {
  background: red;
 
  width: 500px;
  height: auto;
}






  /**********************CONTACT***********************/
  .mainHeading{
      text-align: center;
      margin-top: 10px;
  }
  .contact_me{
   
    width: 100vw;
    height: 950px;
     background-color:	#202020;
    border:1px solid #1a1a1a;
     
  }
 
  .contact-wrapper{
    margin-top: 70px;
    
  }
  .contactLogs{
    width:900px;
    height:100px;
    color:white;
    text-align: center;
    font-size: 30px;
    border: 3px solid white;

    margin: auto;
      background-color: #2b2b2b;
  }
  .contactLogs p{
    margin-top:30px;
  }
  .map_form{
    width: 90vw;
    display:flex;
    justify-content: center;
    align-items: center;
    
    margin:auto;
   
    
  }
  .map{
  
    color:#818181;
    
    width:400px;
    height: 500px;
 
    
  }
  .mapContainer{
    margin-top: 50px;
    margin-left: 10px;
  }
  
  
  .fas{
    color:#f0b236;
    font-size: 30px;
    text-align: center;
  }
  .far{
    color:#f0b236;
    font-size: 30px;
  }
 /* input{
    width:500px;
    
    margin-top: 15px;

  }*/
 .innerForm{
   margin-left: 4vw;
 }
  .form{
    width: 90vw;
    height: 400px;
    
    margin: auto;
    margin-top: 5rem;
  }
  
  input{
    width:39vw;
    margin-left: 1vw;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #333;
    border: none;
  }
.subject{
  width: 79vw;
 
}
.message{
  width: 79vw;
  margin-left: 1vw;
}

  textarea{
    width:500px;
    height:100px;
    margin-top: 15px;
    
    background-color: #333;
    border: none;
  }
  .submit{
    margin: 15px;
    background-color: #000000;
    color:#333333;
 
    width:150px;
    height: 40px;
    border-radius: 5%;
    outline: none;
    cursor:pointer;
  }
  
  .iconWrapper p{
    color: #818181;
  }
  
   .downloadBtny{
    margin:3rem;
    padding: 1.2em 2em;
    font-size: 15px;
    color:black;
    border:1px solid #f0b236;
    box-sizing: border-box;
    background-color: #f0b236;
    border-radius: 0.5em;
  }
  
  .mapContainer p{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .mapContainer label{
    color:white;
  }
  .icons{
    display: flex;
    color:white;
    justify-content: space-evenly;
    text-align: center;
   
  }
  .icon{
    flex:1;
    display: table-cell;
    vertical-align: middle;
    width:100px;
    height: 100px;
    background-color: #1a1a1a;
    border-radius: 50%;
  }
  .submit:hover{
background-color: #f0b236;
color:black;
  }
  
  /***************************FOOTER***********************/
  .footer{
    display:flex;
   
   background-color:#1a1a1a;
   justify-content: flex-end;
   color:#818181
  
  
 }
 .copyrights{
   flex:1;

  
 }
 .social{
   flex:2;
  
  
  
 }
 .flink{
   margin-left: 3rem;
 }