@font-face {
  font-family: 'AbhayaLibre';
  
  src: url('../src/static/fonts/AbhayaLibre-Regular.ttf');
 
}
@font-face {
  font-family: 'Courgette';
  
  src: url('../src/static/Courgette-Regular.ttf');
}



@font-face{
  font-family:'PTSansCaption' ;
  src: url('../src/static/fonts/PTSansCaption-Bold.ttf');
}
body {
  margin: 0;
  font-family: 'AbhayaLibre', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5{
  font-family:'PTSansCaption' ;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

